

</div>
<h3 class="animated zoomIn">Welcome To Face Time World</h3>
<br>
<p class="animated zoomIn"><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
<br>
  <h3 class="animated zoomIn">Google Search</h3>
<a>
  <center class="C">
  <FORM class="animated zoomIn" method=GET action="https://www.google.com/search">
  <TABLE bgcolor="transparent"><tr><td>
  <A HREF="https://www.google.com/">
  <IMG class="fit3" SRC="img/099427-glossy-silver-icon-social-media-logos-google-logo-square.png" <br></A>
  <INPUT class="fit2" TYPE=text name=q size=31 maxlength=255 value="">
  <INPUT TYPE=hidden name=hl value="en">">
  </td></tr></TABLE>
  </FORM>
</center></a>
  <!-- Search Google -->
