<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <body>
    <% content_for :title do %>About<% end %>
    <h3 class="animated zoomIn">About Face Time World</h3>
    <p class="animated zoomIn">
    This Web Application is built for Andriod and Desktop Users. "Face Time World" is designed to allow video talking between friends instantly.
    Face Time World comes with many other innovative features, Such as
    Group Video conferencing. Which great for buisness meetings and connecting with multiple peers.
    Another great feature our HD camera with instagram like filters for pictures. With
    one click you can download a image instantly. Not to mention Face Time Worlds Video Recording Studio. It comes with abundant options
    you can choose from. The videos also have one click download ability.
    For a extra bonus Face Time World comes with Voice Commands Music Player. Say and play any song you can think of instantly.
    </p>

  </body>
</html>
